.card-img-top {
    height:50px ;
    width: 50px;
    border-radius: 50%;
}
.navbar-brand{
    text-align: right;
}
.channel-logo{
    max-width: 10px;
    margin-right: 10px;

}
.description{
    margin-left: 80px;
}